DATA_PATH=../data/VIEW_GOODS_enhanced.csv
HOST=0.0.0.0
PORT=8000
OPENAI_API_KEY=your-openai-api-key
USE_LLM_EXPAND=True
USE_LLM_INTENT=True
USE_LLM_RERANK=False
USE_LLM_SHORTDESC=False
USE_LLM_PROMO=False
OPENAI_MODEL=gpt-4o-mini
USE_CHAT_MODE=True
CHAT_SYS_MAX_ITEMS=200
CHAT_MODEL=gpt-4o-mini
